body{
  font-family: Calibri;
  font-size: 16px;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin: 0px auto;
  padding-top: 20px; 
  padding-bottom: 100px;
  background: linear-gradient(150deg, #000088, #2200aa);
  color: #f5f6f7;
}

form {
  padding: 0px auto;
  text-align: middle;
  width: 80vw;
  margin: 0px auto;
  padding-bottom: 50px;

}

h1, p{
  font-weight: bold;
  padding: 5px 50px;
  text-align: center; 
}

label {
  display: block;
  margin: 0.5rem 10px;
}

input[type="submit"] {
  background-color: #efffff;
  color: #000000;
  padding: 1rem 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin: 0px 12px;
}

input[type="submit"]:hover {
  background-color: #efffff;
  color: #0000dd;
}

textarea {
  margin: 0.5rem 4px;
  width: 100%; 
}

/* # means those sittings are for elements with specific ID only*/
#number {
  width: 100%;
  max-width: 180px; 
}

#dropdown { 
   margin-right: 10px;
}

fieldset {
  margin-top: 20px;
  background-color: #20108a;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 10px
}

/* I have 2 grids/columns: one for labels and one for inputs*/
.info {
    display: grid;
    grid-template-columns: 1fr 2fr; 
    gap: 10px 20px;
    align-items: center;
}
